.sidebar {
  background-color: white;
  width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
  row-gap: 4vh;
  min-height: 90vh;
}

.icon {
  color: black;
  font-size: 4vh;
  cursor: pointer;
}

.icon:hover {
  color: #007bff;
}